body {
  font: 15px arial, helvetica, sans-serif;
  background: #333;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-family: helvetica;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rbga(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
